@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 14px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.hljs {
  border-radius: 1rem;
  padding: 2rem 1.2rem !important;
}

.hljs::-webkit-scrollbar {
  display: none;
}
